.ButtonContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;

  button {
    background: #111;
    border: 3px solid #666;
    border-radius: 5px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    margin: 20px;
    padding: 15px 20px;
    min-width: 200px;

    &:hover {
      border: 3px solid white;
      color: white;
    }
  }
}