.ButtonContainer {
  display: flex;
  justify-content: space-around;

  button {
    background: black;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    margin: 20px;
    padding: 15px;
    min-width: 150px;
  }
}