body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './components/App/App';
@import '../node_modules/react-star-wars-crawl/lib/index.css';
@import './components/RandomCrawl/RandomCrawl';
@import './components/MainContainer/MainContainer';
@import './components/ButtonContainer/ButtonContainer';
@import './components/CardHolder/CardHolder';
@import './components/Card/Card';
